<!-- Modal -->
<form (ngSubmit)="onSubmit()" #myForm="ngForm">
<div class="modal fade" id="studentEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body form-group">
          <p>Hodnota modelu: {{actualStudent}}</p>
          <label>Meno: </label><input class="form-control" type="text" [(ngModel)]="student.meno" name="studentName" required>
          <label>Priezvisko: </label><input class="form-control" type="text" [(ngModel)]="student.priezvisko" name="studentSurname" required>
          <label>StupenStudia: </label><input class="form-control" type="text" [(ngModel)]="student.stupenStudia" name="studentStupenStudia" required>
          <label>Telefon: </label><input class="form-control" type="text" [(ngModel)]="student.telefon" name="studentTelefon" required>
          <label>Email: </label><input class="form-control" type="text" [(ngModel)]="student.email" name="studentEmail" required>
          <label>Aktivny: </label><input class="form-control" type="checkbox" [(ngModel)]="student.aktivny" name="studentAktivny">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" [disabled]="!myForm.form.valid">Ulož</button>
        </div>
      </div>
    </div>
  </div>
</form>