<div *ngIf="stavKomunikacie=='error'" class="alert alert-danger">
  <strong>Pozor!</strong> Komunikácia so serverom sa nepodarila.
</div>
<div *ngIf="stavKomunikacie=='added' || stavKomunikacie=='updated' || stavKomunikacie=='deleted'" class="alert alert-success">
  <strong>OK!</strong> {{hlaska}}
</div>
<h2>{{title}}</h2>
<label *ngIf="selectedStudent">Zvolený študent: {{selectedStudent.meno}}</label><br>
<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#studentEditModal" (click)="addStudentButtonClicked()"
  style="float: right;">
  Pridať študenta
</button>
<!-- Button trigger modal -->
<button *ngIf="selectedStudent" type="button" class="btn btn-danger" data-toggle="modal" data-target="#studentDeleteModal"
  (click)="deleteStudentButtonClicked(selectedStudent)">
  Odobrať zvoleného študenta
</button>
<br>
<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Meno</th>
      <th>Priezvisko</th>
      <th>Aktívny</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students" (click)="tableRowClick(student)" (dblclick)="editStudentButtonClicked(student)">
      <td>{{student.id}}</td>
      <td>{{student.meno}}</td>
      <td>{{student.priezvisko}}</td>
      <td>{{student.aktivny}}</td>
    </tr>
  </tbody>
</table>
<app-student-edit (savedStudent)="editedStudentSaved($event)" [student]="editedStudent" [actionWithStudent]="action"></app-student-edit>